<nav
  class="bg-gray-800 flex text-slate-300 h-[4rem] justify-center items-center gap-10">
  <a class="flex-initial hover:text-white" href="/explore">Explore</a>
  <% if (userLoggedIn && !inDashboard) { %>
  <a class="flex-initial hover:text-white" href="/dashboard">Dashboard</a>
  <% } else if (userLoggedIn && inDashboard) { %>
  <!-- Add your else if condition here -->
  <% } else { %>
  <a class="flex-initial hover:text-white" href="/signup">Signup</a>
  <a class="flex-initial hover:text-white" href="/login">Login</a>
  <% } %>
</nav>
