<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/css/outputTailwind.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap"
      rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/polipop/dist/css/polipop.core.min.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/polipop/dist/css/polipop.default.min.css" />
    <style>
      body {
        font-family: "Inter", sans-serif;
        background-image: url("../styles/images/background.webp");
      }
    </style>
    <title>Admin - Dashboard</title>
  </head>
  <body>
    <nav
      class="bg-gray-800 flex text-slate-300 h-[4rem] justify-center items-center gap-10 rounded-b-full z-40 sticky">
      <a class="flex-initial hover:text-white" href="/explore">Explore</a>
      <a class="flex-initial hover:text-white" href="/dashboard">Dashboard</a>
      <a class="flex-initial hover:text-white" href="/my-articles"
        >My articles</a
      >
      <a class="flex-initial hover:text-white" href="/new-story">Write</a>
    </nav>
    <!-- sidebar -->
    <aside
      class="absolute top-0 left-0 w-[20%] h-screen transition-transform -translate-x-full sm:translate-x-0">
      <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50">
        <ul class="space-y-2 font-medium mt-20">
          <li>
            <a
              href="/admin"
              class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100">
              <svg
                class="flex-shrink-0 w-6 h-6 text-blue-500 transition duration-75group-hover:text-blue-900"
                fill="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true">
                <path
                  clip-rule="evenodd"
                  fill-rule="evenodd"
                  d="M2.25 13.5a8.25 8.25 0 018.25-8.25.75.75 0 01.75.75v6.75H18a.75.75 0 01.75.75 8.25 8.25 0 01-16.5 0z"></path>
                <path
                  clip-rule="evenodd"
                  fill-rule="evenodd"
                  d="M12.75 3a.75.75 0 01.75-.75 8.25 8.25 0 018.25 8.25.75.75 0 01-.75.75h-7.5a.75.75 0 01-.75-.75V3z"></path>
              </svg>
              <span class="ml-3">Panel</span>
            </a>
          </li>
          <li>
            <a
              href="/admin/users"
              class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100">
              <svg
                class="flex-shrink-0 w-6 h-6 text-blue-500 transition duration-75group-hover:text-blue-900"
                fill="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true">
                <path
                  clip-rule="evenodd"
                  fill-rule="evenodd"
                  d="M7.5 6a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM3.751 20.105a8.25 8.25 0 0116.498 0 .75.75 0 01-.437.695A18.683 18.683 0 0112 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 01-.437-.695z"></path>
              </svg>
              <span class="flex-1 ml-3 whitespace-nowrap">Users</span>
            </a>
          </li>
          <li>
            <a
              href="/admin/articles"
              class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100">
              <svg
                class="flex-shrink-0 w-6 h-6 text-blue-500 transition duration-75group-hover:text-blue-900"
                fill="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true">
                <path
                  d="M5.625 1.5c-1.036 0-1.875.84-1.875 1.875v17.25c0 1.035.84 1.875 1.875 1.875h12.75c1.035 0 1.875-.84 1.875-1.875V12.75A3.75 3.75 0 0016.5 9h-1.875a1.875 1.875 0 01-1.875-1.875V5.25A3.75 3.75 0 009 1.5H5.625z"></path>
                <path
                  d="M12.971 1.816A5.23 5.23 0 0114.25 5.25v1.875c0 .207.168.375.375.375H16.5a5.23 5.23 0 013.434 1.279 9.768 9.768 0 00-6.963-6.963z"></path>
              </svg>
              <span class="flex-1 ml-3 whitespace-nowrap">Articles</span>
            </a>
          </li>
          <li>
            <a
              href="/admin/comments"
              class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100">
              <svg
                class="flex-shrink-0 w-6 h-6 text-blue-500 transition duration-75group-hover:text-blue-900"
                fill="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true">
                <path
                  clip-rule="evenodd"
                  fill-rule="evenodd"
                  d="M12 2.25c-2.429 0-4.817.178-7.152.521C2.87 3.061 1.5 4.795 1.5 6.741v6.018c0 1.946 1.37 3.68 3.348 3.97.877.129 1.761.234 2.652.316V21a.75.75 0 001.28.53l4.184-4.183a.39.39 0 01.266-.112c2.006-.05 3.982-.22 5.922-.506 1.978-.29 3.348-2.023 3.348-3.97V6.741c0-1.947-1.37-3.68-3.348-3.97A49.145 49.145 0 0012 2.25zM8.25 8.625a1.125 1.125 0 100 2.25 1.125 1.125 0 000-2.25zm2.625 1.125a1.125 1.125 0 112.25 0 1.125 1.125 0 01-2.25 0zm4.875-1.125a1.125 1.125 0 100 2.25 1.125 1.125 0 000-2.25z"></path>
              </svg>
              <span class="flex-1 ml-3 whitespace-nowrap">Comments</span>
            </a>
          </li>
          <li>
            <a
              href="/admin/password-manager"
              class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100">
              <svg
                class="flex-shrink-0 w-6 h-6 text-blue-500 transition duration-75group-hover:text-blue-900"
                fill="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true">
                <path
                  clip-rule="evenodd"
                  fill-rule="evenodd"
                  d="M12 1.5a5.25 5.25 0 00-5.25 5.25v3a3 3 0 00-3 3v6.75a3 3 0 003 3h10.5a3 3 0 003-3v-6.75a3 3 0 00-3-3v-3c0-2.9-2.35-5.25-5.25-5.25zm3.75 8.25v-3a3.75 3.75 0 10-7.5 0v3h7.5z"></path>
              </svg>
              <span class="flex-1 ml-3 whitespace-nowrap"
                >Password manager</span
              >
            </a>
          </li>
        </ul>
      </div>
    </aside>
    <!-- sidebar -->
    <div class="float-right w-[80%] mt-8 px-10">
      <div
        class="shadow-2xl relative overflow-x-auto shadow-md bg-white sm:rounded-lg p-10 h-[85vh] flex flex-col justify-between">
        <div>
          <div class="relative mb-10">
            <div
              class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
              <svg
                class="w-5 h-5 text-gray-500 dark:text-gray-400"
                aria-hidden="true"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  fill-rule="evenodd"
                  d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                  clip-rule="evenodd"></path>
              </svg>
            </div>
            <input
              type="text"
              id="search-input"
              class="block p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500"
              placeholder="Search for users" />
          </div>
          <table class="w-full text-sm text-left text-gray-500">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50">
              <tr>
                <th scope="col" class="px-6 py-3">Name</th>
                <th scope="col" class="px-6 py-3">Author</th>
                <th scope="col" class="px-6 py-3">Views</th>
                <th scope="col" class="px-6 py-3">Action</th>
              </tr>
            </thead>
            <tbody>
              <!-- <tr class="bg-white border-b hover:bg-gray-50">
              <th
                scope="row"
                class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap">
                <img
                  class="w-10 h-10 rounded-full"
                  src="/docs/images/people/profile-picture-1.jpg" />
                <div class="pl-3">
                  <div class="text-base font-semibold">Nima Beheshtaein</div>
                  <div class="font-normal text-gray-500">nimabht</div>
                </div>
              </th>
              <td class="px-6 py-4">Admin</td>
              <td class="px-6 py-4">
                <div class="flex items-center">+989355401204</div>
              </td>
              <td class="px-6 py-4">
                <a
                  href="/admin/user/1234"
                  class="block font-medium text-blue-600 hover:underline"
                  >User data</a
                >
                <a
                  href="/admin/user/1234"
                  class="font-medium text-red-600 hover:underline"
                  >Delete user</a
                >
              </td>
            </tr> -->
            </tbody>
          </table>
        </div>
        <div class="flex justify-center my-2">
          <nav>
            <ul
              class="inline-flex items-center -space-x-px"
              id="pagination"></ul>
          </nav>
        </div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.6.4.min.js"
      integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
      crossorigin="anonymous"></script>
    <script src="https://unpkg.com/polipop/dist/polipop.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../scripts/admin-panel/articles/utils.js"></script>
    <script src="../scripts/admin-panel/articles/main.js"></script>
  </body>
</html>
