<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/css/outputTailwind.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap"
      rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/polipop/dist/css/polipop.core.min.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/polipop/dist/css/polipop.default.min.css" />
    <style>
      body {
        font-family: "Inter", sans-serif;
        background-image: url("./styles/images/background.webp");
      }
    </style>
    <title>Explore - Onyx</title>
  </head>
  <body class="">
    <nav
      class="bg-gray-800 flex text-slate-300 h-[4rem] justify-center items-center gap-10 rounded-b-full">
      <!-- <a class="flex-initial hover:text-white" href="/explore">Explore</a>
      <a class="flex-initial hover:text-white" href="/dashboard">Dashboard</a>
      <a class="flex-initial hover:text-white" href="/new-story">Write</a> -->
      <% if (!!isLoggedIn) { %>
      <a class="flex-initial hover:text-white" href="/dashboard">Dashboard</a>
      <a class="flex-initial hover:text-white" href="/my-articles"
        >My articles</a
      >
      <a class="flex-initial hover:text-white" href="/new-story">Write</a>
      <% } else { %>
      <a class="flex-initial hover:text-white" href="/signup">Signup</a>
      <a class="flex-initial hover:text-white" href="/login">Login</a>
      <a class="flex-initial hover:text-white" href="/new-story">Write</a>
      <% } %>
    </nav>
    <div class="flex items-center justify-center">
      <div
        class="w-[80rem] p-6 bg-white flex flex-col shadow-2xl min-h-[84vh] items-center">
        <form class="w-[24rem]" id="search-form">
          <label
            for="default-search"
            class="mb-2 text-sm font-medium text-gray-900 sr-only"
            >Search</label
          >
          <div class="relative">
            <div
              class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
              <svg
                aria-hidden="true"
                class="w-5 h-5 text-gray-500"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
              </svg>
            </div>
            <input
              type="search"
              id="default-search"
              class="outline-0 block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500"
              placeholder="Search Title or Sketch" />
            <button
              type="submit"
              class="text-white absolute right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2">
              Search
            </button>
          </div>
        </form>
        <div
          class="container min-h-[84vh] mx-auto flex flex-col w-[50rem] justify-between mt-10">
          <div id="articles"></div>

          <div class="w-full md:w-6/12 px-4 mx-auto text-center mt-[3rem]">
            <div class="flex justify-center my-2">
              <nav>
                <ul
                  class="inline-flex items-center -space-x-px"
                  id="pagination"></ul>
              </nav>
            </div>
            <div class="text-sm text-blueGray-500 font-semibold py-1">
              Powered by Onyx company.
            </div>
          </div>
        </div>
      </div>
    </div>
    <input
      type="hidden"
      class="border-t p-8 border-gray-300 flex my-2 w-[70%] text-3xl font-semibold text-gray-500 my-3 text-gray-500 mr-5 mr-2 underline text-blue-400 underline text-red-400 object-contain w-96 h-36 text-teal-400 z-10 px-3 py-2 leading-tight text-blue-600 border border-blue-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700" />
    <script
      src="https://code.jquery.com/jquery-3.7.0.min.js"
      integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
      crossorigin="anonymous"></script>
    <script src="https://unpkg.com/polipop/dist/polipop.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./scripts/explore/utils.js"></script>
    <script src="./scripts/explore/main.js"></script>
  </body>
</html>
