<html>
  <head>
    <link rel="stylesheet" href="./styles/css/outputTailwind.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap"
      rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/polipop/dist/css/polipop.core.min.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/polipop/dist/css/polipop.default.min.css" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,maximum-scale=1" />
    <style>
      body {
        font-family: "Inter", sans-serif;
        background-image: url("./styles/images/background.webp");
      }
    </style>
    <script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js"
      defer></script>
  </head>

  <body>
    <nav
      class="bg-gray-800 flex text-slate-300 h-[4rem] justify-center items-center gap-10 rounded-b-full">
      <a class="flex-initial hover:text-white" href="/explore">Explore</a>
      <a class="flex-initial hover:text-white" href="/signup">Signup</a>
      <a class="flex-initial hover:text-white" href="/new-story">Write</a>
    </nav>
    <div class="section h-[93vh] text-gray-900 flex justify-center">
      <div
        class="max-w-screen-xl m-0 sm:m-20 bg-white shadow sm:rounded-lg flex justify-center flex-1 shadow-2xl">
        <div class="lg:w-1/2 xl:w-5/12 p-6 sm:p-12">
          <div class="mt-5 flex flex-col items-center">
            <h1 class="text-2xl xl:text-3xl font-extrabold">Login</h1>
            <div class="w-full flex-1 mt-8">
              <form class="mx-auto max-w-xs">
                <input
                  class="w-full px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white mt-12 shadow-inner"
                  id="username-input"
                  type="text"
                  placeholder="Username" />

                <input
                  class="w-full px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white mt-2 shadow-inner"
                  type="password"
                  id="password-input"
                  placeholder="Password" />

                <button
                  type="submit"
                  class="mt-2 shadow-inner tracking-wide font-semibold bg-indigo-500 text-gray-100 w-full py-4 rounded-lg hover:bg-indigo-700 transition-all duration-300 ease-in-out flex items-center justify-center focus:shadow-outline focus:outline-none">
                  <svg
                    class="w-6 h-6 -ml-2"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round">
                    <path d="M16 21v-2a4 4 0 00-4-4H5a4 4 0 00-4 4v2" />
                    <circle cx="8.5" cy="7" r="4" />
                    <path d="M20 8v6M23 11h-6" />
                  </svg>
                  <span class="ml-3"> Log In </span>
                </button>
                <p class="mt-6 text-xs text-gray-600 text-center">
                  <a
                    href="/signup"
                    class="border-b border-gray-500 border-dotted">
                    New here?
                  </a>
                </p>
              </form>
              <p class="mt-9 text-gray-700">
                <br />
                <br />
                <br />
                "Welcome back! Please enter your login credentials to access
                your account. New here? Sign up now and join our community.
                Thanks for choosing our platform!"
              </p>
            </div>
          </div>
        </div>
        <div class="flex-1 bg-indigo-100 text-center hidden lg:flex">
          <div
            class="m-12 xl:m-16 w-full bg-contain bg-center bg-no-repeat"
            style="
              background-image: url('./styles/images/signup-background.png');
            "></div>
        </div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.6.4.min.js"
      integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
      crossorigin="anonymous"></script>
    <script src="https://unpkg.com/polipop/dist/polipop.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/scripts/login/main.js"></script>
  </body>
</html>
